@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

.default {
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;
	color: #2d9cdb;
}
